name: Run tests

on:
  workflow_dispatch:

jobs:
  test:
    name: Test parser
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up tree-sitter
        uses: tree-sitter/setup-action@v2
      - name: Run parser and binding tests
        uses: tree-sitter/parser-test-action@v3
        with:
          generate: false
          go-version: "1.25"
          python-version: "3.14"
          zig-version: "0.15.2"
    
  test-against-c3c:
    name: Test against stdlib and test suite
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: source
      - name: Checkout c3lang/vendor
        uses: actions/checkout@v4
        with:
          repository: c3lang/vendor
          path: vendor
      - name: Install C3 compiler
        run: |
          sudo apt-get update
          sudo apt-get install -y curl tar
          curl -L https://github.com/c3lang/c3c/releases/download/v0.7.9/c3-linux.tar.gz -o c3.tar.gz
          tar -xzf c3.tar.gz
          sudo mv c3/c3c /usr/local/bin/c3c
          sudo chmod +x /usr/local/bin/c3c
          sudo cp -r c3 /usr/local/c3
          echo "C3C_LIB=/usr/local/c3/lib" >> $GITHUB_ENV
      - name: Install tree-sitter
        uses: tree-sitter/setup-action@v2
        with:
          install-lib: true
          install-cli: false
      - name: Run tests
        run: c3c test -L $LD_LIBRARY_PATH
      - name: Run tests
        run: |-
          c3c run --path source/test_runner --libdir $PWD/vendor/libraries --libdir $PWD/source/bindings/c3 -L $LD_LIBRARY_PATH -- $PWD/c3/c3c $PWD/c3/lib $(find $PWD -type d -name 'test_suite')
